.filters {
  display: flex;
  gap: 10px;
  align-items: center;
}

.select {
  min-width: 180px;
}

.clear-button {
  height: 38px;
  background-color: transparent;
  color: black;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.clear-button:hover {
  background-color: rgb(254, 100, 100);
  cursor: pointer;
}
