.transactions-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  padding: 15px;   /* 🔥 UNICO padding globale */
}

.header,
.table-container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;  /* 🔥 allinea a sinistra */
  align-items: center;
  margin-bottom: 10px;
  gap: 12px;
}

.filters_button {
  display: flex;          /* 🔥 fondamentale */
  align-items: center;    /* centra verticale */
  gap: 6px;               /* spazio tra icona e testo */

  background: transparent;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  height: 38px;
}

.filters_button:hover {
  background-color: black;
  color: white;
}

.filters_button.active {
  background: black;
  color: white;
}

table {
  background: white;
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.08);
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #D7D7D8;
  font-family: system-ui, -apple-system, sans-serif;
  overflow: hidden;
}

thead th {
  background: black;
  color: white;
  font-weight: 600;
  text-align: left;
  padding: 14px 16px;
}

thead tr {
  background-color: #f5f5f6;
}

td, th {
  font-size: 13px;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
  line-height: 30px;
}

th {
  font-weight: 900;
  background-color: black;
  color: white
}

td {
  padding: 14px 13px;
  border-bottom: 1px solid #e5e7eb;
  color: #374151;
}

tbody tr {
  transition: background 0.2s ease;
}

tbody tr:hover {
  background: #f3f4f6;
}
